name: sentiric

# =============================================================
# ŞABLONLAR (TEMPLATES)
# Tekrarlanan kodları burada bir kez tanımlıyoruz.
# =============================================================
x-ai-service-template: &ai-service-template
  restart: always
  # GPU Ayarları hepsinde aynı
  deploy:
    resources:
      reservations:
        devices:
          - driver: nvidia
            count: 1
            capabilities: [ gpu, compute, utility ]
  healthcheck:
    interval: 30s
    timeout: 10s
    retries: 10
    start_period: 60m

networks:
  sentiric-net:
    driver: bridge
    name: sentiric-net
    ipam:
      config:
        - subnet: ${NETWORK_SUBNET:-10.88.0.0/16}
          gateway: ${NETWORK_GATEWAY:-10.88.0.1}

volumes:
  # =============================================================
  # KATMAN 4: YAPAY ZEKA UZMAN MOTORLARI (AI EXPERT ENGINES)
  # Gerçek AI işini yapan, potansiyel olarak yavaş başlayan servisler.
  # =============================================================


  # [capability-tts]: Konuşma Sentezleme Yetenekleri (TTS Capabilities)
  # --------------------------------------------------     
  tts-coqui-models:
  tts-coqui-speakers:
  tts-coqui-history:
  tts-coqui-cache:  

services:
  # =============================================================
  # KATMAN 4: YAPAY ZEKA UZMAN MOTORLARI (AI EXPERT ENGINES)
  # Gerçek AI işini yapan, potansiyel olarak yavaş başlayan servisler.
  # =============================================================


  # [capability-tts]: Konuşma Sentezleme Yetenekleri (TTS Capabilities)
  # --------------------------------------------------     
  tts-coqui-service:
    <<: *ai-service-template
    image: ghcr.io/sentiric/sentiric-tts-coqui-service:latest-gpu
    volumes:
      # --- Güvenlik ---
      - "${CERTIFICATES_REPO_PATH:-../sentiric-certificates}:/sentiric-certificates:ro"
      - "${ASSETS_REPO_PATH:-../sentiric-assets}/docs/audio/speakers:/app/speakers"
      # ---
      - tts-coqui-models:/root/.local/share/tts
      - tts-coqui-history:/app/history
      - tts-coqui-cache:/app/cache
    environment:
      - ENV="development"
      # --- Ağ ---
      - TTS_COQUI_SERVICE_HTTP_PORT=14030
      - TTS_COQUI_SERVICE_GRPC_PORT=14031

      # --- Performans ---
      - TTS_COQUI_SERVICE_DEVICE=cuda
      - TTS_COQUI_SERVICE_LOW_RESOURCE_MODE=true

      # --- Güvenlik (mTLS Server) ---
      # Python kodu bu değişken isimlerini bekler
      - GRPC_TLS_CA_PATH=/sentiric-certificates/certs/ca.crt
      - TTS_COQUI_SERVICE_CERT_PATH=/sentiric-certificates/certs/tts-coqui-service.crt
      - TTS_COQUI_SERVICE_KEY_PATH=/sentiric-certificates/certs/tts-coqui-service.key
    networks:
      sentiric-net:
        ipv4_address: 10.88.40.3
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:14030/health" ]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 10m